colour
pyaudio
numpy
ipython
pyglet
aubio
redis
# experimental
glooey
# not sure i need the following
scipy
cython
pyfftw
# streaming video stuff
opencv-contrib-python
imutils
flask
pychromecast
spleeter
